@charset "utf-8";
/* *{outline: 1px solid red; } */
body{
  text-transform: capitalize;
  width: 100%;
  margin: 0;
  background-color: rgb(216, 223, 231);
}

.container{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/* upper */
.uppermostmenu{
  background-color: darkslateblue;
  height: 60px;
}
.uppermostmenu .container{ 
  background-color: rgb(89, 73, 192);
  text-align: center;
  line-height: 60px;
}
/* 헤더 */
.header{
  background-color: rgb(89, 73, 192);
  height: 150px;
}

.header .container{
  background-color: rgb(108, 89, 226);
  line-height: 150px;
}

.nav{
  background-color: rgb(126, 108, 243);
  height: 60px;
}

.nav .container{
  background-color: rgb(163, 151, 241);
  text-align: center;
  line-height: 60px;
}

.main{
  height: 300px;
  color:inherit;
}
.main .container{
  box-sizing: border-box;
  border: 5px solid black;
  line-height: 300px;
}
.container .content, .container .sidebanner, .container .sidemenu{
  float: left;
  height: 100%
}
.container .content{
  width: 60%;
  background-color: darkslategrey;
}
.container .sidebanner{
  width: 20%;
  background-color: rgb(78, 116, 187);

}

.container .sidemenu{
  width: 20%;
  background-color: rgb(69, 141, 137);
}

/* footer */
.footermenu{
  background-color:rgb(163, 151, 241);
  height: 60px;
}
.footermenu .container{
  line-height: 60px;
  background-color:rgb(197, 189, 253);
}
.footer{
  height: 150px;
  line-height: 150px;
  background-color:rgb(197, 189, 253);
}
.footer .container{
  background-color:rgb(230, 226, 255);

}
.clearfix:after{
  content: " ";
  clear: both;
  display: block;
}