@charset "utf-8";
/* *{outline:1px solid red;} */
body {
  margin: 0;
}

/* 공통 */
.container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* 최상위 메뉴 */
.uppermost {
  background-color: yellow;
  height: 30px;
}

.uppermost .container-upm {
  background-color: #4d82cb;
  width: 100%;
}
.uppermost .container-upm *{
  /* outline: 1px solid red; */
}
.uppermost .container-upm .upm-menu li{
  float: left;
  padding: 3px;
}

.uppermost .container-upm .upm-menu li:nth-child(1){

}
.uppermost .container-upm .upm-menu li:nth-child(2){
  width: 60px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  
}
.uppermost .container-upm .upm-menu li:nth-child(3){
}
.uppermost .container-upm .upm-menu li:nth-child(4){
  width: 100px;
  font-family: 'Roboto Slab', cursive;
  font-weight: 700;
}
.uppermost .container-upm .upm-menu li:nth-child(5){
  float: right;
}
.uppermost .container-upm .upm-menu li:nth-child(5) input{
  border-radius: 5px;


}

.uppermost .container-upm .upm-menu li:nth-last-child(1){
  text-align: left;
  /* background-color: blue; */
}

/* 헤더 */
.header {
  background-color: aqua;
  height: 200px;
}

.header .container-h {
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
}

.header .container-h::after {
  content: "행복한 목요일!";
  font-size: 4rem;
  position: absolute;
  left: 100px;
  top: 30px;
  color: white;
  text-shadow: 10px 10px #333;
}

.header .container-h:hover:after {
  font-size: 5rem;
  transform: rotate(-10deg);
}

/* 메뉴 */
.nav {
  background-color: #82b1ff;
  height: 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.nav ul li {
  float: left;
  padding: 3px 10px;
  position: relative;
  letter-spacing: 0.13em;
}

.nav ul li:nth-child(1) {
  padding-left: 0;
}

.nav ul li:hover a {

}
.nav ul li:hover::before{
  content:" ";
  display:block;
  width: 100%; height: 3px;
  position:absolute;
  left: 0; top: 1.3em;
  background-color: #666;
  transition: all 5s;
  /* border : 1px solid orangered; */
}
/* 메인 */
.main {
  background-color: transparent;
  height: 400px;
}

.sidebar {
  width: 30%;
  background-color: #b6e3ff;
  height: 100%;
  float: left;
}

.content {
  width: 70%;
  background-color: rgb(230, 228, 228);
  height: 100%;
  float: left;
}

.content form {
  width: 50%;
  margin: 50px auto;
}

.content form p {
  text-align: center;
  padding: 10px 0;
}

.content form {
  color: rgb(131, 128, 128);
  font-weight: bold;
}

.content form ul li {
  padding: 5px 0;
}
.content form ul li:nth-child(2){
  color:darkorange ;
}

.content form ul li:nth-child(4){
  color:violet ;
}
.content form ul li input {
  box-sizing: border-box;
  width: 90%;
  vertical-align: top;
}
.content form ul li span {
  vertical-align: top;
}

.content form ul li button {
  width: 100%;
  border: none;
  padding: 5px 0;
  background-color: #ff80ab;
  color: white;
  font-weight: bolder;
}

/* 푸터 */
/* 레이아웃 */
.footer{
  border-top: 1px solid gray;
  padding: 30px 0;
}
.footer .container{width: 100%;}
.footer-contents {
      text-transform: uppercase;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

.footer-contents .footer-contents-1,
.footer-contents .footer-contents-2,
.footer-contents .footer-contents-3,
.footer-contents .footer-contents-4 {
  float: left;
  margin-right: 15px;
}

.footer-contents .footer-contents-1 {
  width: 150px;
  height: 150px;
  background-color: orangered;
  color: white;
  text-align: center;
  line-height: 150px;
}

 /* footer 스타일 */
 .footer-contents ul li{
   padding: 3px 0;
 }
 
 .footer-contents ul .title{
   font-weight: bold;
   padding-bottom: 10px;
 }

.footer-contents .emphasis {
  color: #f0e;
  font-weight: bold;
}

.footer-contents .tel{
  font-size: 2em;
  padding: 20px 0;
}

.footer-contents .account{
  color: steelblue;
}
.footer-contents .highlight-01{
  color: white; background-color: blue; padding: 0 3px;
}
.footer-contents .highlight-02{
  color: white; background-color: black; padding: 0 3px;
}
.copyright .highlight-03{
  background-color: lightgray;
}
.copyright{
  text-align: center;}
    
/* 유틸 */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* .id{
  color:darkorange ;
}
.pwd{
  color: cornflowerblue;
} */