@charset "utf-8";
html, body{
  padding: 0px; margin:0px;
  height: 100vh; width: 100vw;
}
header > h1 {
  color: brown;
  text-align: center;
}
body{
  background-color: aliceblue;
}
header {
  height: 20vh;
  background-color: yellow;
  /* border-bottom: 1px solid; */
}

a {text-decoration: none;}

p{
  font-size: 1em;
  font-family: 'Noto Serif KR', serif;
}

h2{
  color: blue;
  text-shadow: 3px 1px 4px aqua;
}


nav{
  float: left;
  width: 15vw;
  height: 65vh;
  background-color: orange;
}
section{
  
  float: left;
  width: 85vw;
  height: 65vh;
  background-color: skyblue;
}
footer{
  height: 15vh;
  background-color: violet;
}
.clearfix{
  clear:both;
}