@charset "utf-8";

header > h1 {
  color: brown;
  text-align: center;
}
body{
  background-color: aliceblue;
}
header {
  border-bottom: 1px solid;
}
ul{
  border: 1px dotted;
}

a {text-decoration: none;}

p{
  font-size: 1em;
  font-family: 'Noto Serif KR', serif;
}

h2{
  color: blue;
  text-shadow: 3px 1px 4px aqua;
}

footer{
  background-color: orange;
  border-radius: 10px;
}

