@charset "utf-8";
header > h1 {
  color: brown;
  text-align: center;
}
body{
  background-color: aliceblue;
}

main{
  padding: 10px;
  background-color:pink;
}
p > span {
  color: blue;
  

}

footer{
  margin-top: 20px;
  background-color: orange;
  border-radius: 10px;
}